<div class="h-full flex flex-col bg-stone-50">
  <div class="bg-white px-8 py-5 border-b border-stone-200 flex items-center gap-4 shrink-0">
    <img
      src="https://ui-avatars.com/api/?name=John+Doe"
      class="w-12 h-12 rounded-full object-cover"
    />
    <div>
      <h3 class="text-stone-800 font-semibold">John Doe</h3>
      <p class="text-stone-400 text-xs">Online</p>
    </div>
  </div>

  <div class="flex-1 overflow-y-auto p-8 space-y-6">
    @for (msg of messages(); track $index) {
    <div class="flex gap-3 w-full" [ngClass]="msg.souEu ? 'justify-end' : 'justify-start'">
      @if (!msg.souEu) {
      <img
        src="https://ui-avatars.com/api/?name=Java"
        class="w-8 h-8 rounded-full object-cover self-end"
      />
      }

      <div
        class="max-w-md px-6 py-4 shadow-md text-sm"
        [ngClass]="{
          'bg-gradient-to-br from-emerald-500 to-emerald-600 text-white rounded-3xl rounded-br-none':
            msg.souEu,
          'bg-white text-stone-800 rounded-3xl rounded-bl-none': !msg.souEu
        }"
      >
        <p class="mb-2">{{ msg.texto }}</p>
        <span
          class="text-xs block text-right"
          [ngClass]="msg.souEu ? 'text-emerald-100' : 'text-stone-500'"
        >
          Agora
        </span>
      </div>
    </div>
    }
  </div>

  <app-message-input (aoEnviar)="receberDoFilho($event)"></app-message-input>
</div>
