/* No seu styles.css ou styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #10b981 !important;
}

.success-snackbar .mdc-snackbar__label,
.success-snackbar .mat-mdc-button {
  color: white !important;
}

.error-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #ef4444 !important;
}

.error-snackbar .mdc-snackbar__label,
.error-snackbar .mat-mdc-button {
  color: white !important;
}
